.testcase {
  height: 100.000000vw;
  width: 100.000000vw;
  border-radius: 20.000000vw;
  padding: 10.000000vw 10.000000vw 10.000000vw!important;
  margin: 10.000000vw;
  font-size: 16.000000vw;
  background-color: bisque;
}

@media (min-width: 1200px) {
  .testcase {
    border-radius: 30.000000vw;
  }
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

@supports (width: 100px) {
  div {
    width: 100.000000vw;
  }
}

@page {
  margin: 10px;
}

@keyframes anim {
  0% {
    height: 37.500000vw;
    width: 37.500000vw;
    border: 1.000000vw solid #ddd;
  }

  100% {
    height: 75.000000vw;
    width: 75.000000vw;
    border: 2.000000vw solid #ddd;
  }
}